<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IconoCategoria" value="IconoCategoria.png"/>
    <add key="IconoProductos" value="IconoProductos.png"/>
    <add key="IconoUsuarios"  value="IconoUsuarios.png"/>
    <add key="IconoFactura"   value="IconoFactura.png"/>

    <add key="IconoAgregar" value="IconoAgregar.png"/>
    <add key="IconoModificar" value="IconoEditar.png"/>
    <add key="IconoEliminar"  value="IconoEliminar.png"/>
    <add key="IconoNuevo"   value="IconoNuevo.png"/>
  </appSettings>
  <connectionStrings>
    <add name="CnxUniversidad" connectionString="Data Source=WOLF;Initial Catalog=PAPELERIA;Persist Security Info=False;Integrated Security=false;User ID=AdminPapeleria;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
